<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>password</th>
        <th>name</th>
    </tr>

    <tr>
        <th th:text="${member.id}"></th>
        <th th:text="${member.memberEmail}"></th>
        <th th:text="${member.memberPassword}"></th>
        <th th:text="${member.memberName}"></th>
    </tr>
</table>



</body>
</html>